<h1>Seja bem vindo</h1>
<p>O idioma usado nessa aplicação é: <strong> <%= t('actual_locale') %> </strong> </p>

<p> <%= t('hello')%>

<p><strong>Data:</strong> <%= l(Date.today)%></p>

<%= render "menu"%>




<p>Ambiente <strong><%= Rails.env%></strong></p>

<p>Nome <strong><%= @nome %></strong></p>
